# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
*.venv/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db

# Local environment variables
.env

